a(ui-sref="judge.home") Back to contests I'm judging
hr

h1 Judging contest: {{ contest.title }}
div#judgeLayout
	div#carousel(scroller)
		table
			tr
				td(ng-repeat="entry in entries")
					entry-frame(entry="entry" call-focus="callFocus(entry._id)")
				//-	div.imageFrame(ng-class="{{entry.active}}")
						img(ng-src="/api/entry/realContent/{{entry._id}}")

	table#buttons
		tr
			- for (var i=1; i<=10; i++) {
			td
				//-button(id="star#{i}" ng-click="rate(#{i})") #{i}
				rate-button(value="#{i}" rate="rate(#{i})")
			- }